<header>
  <div class="logo-container">
      <h1 class="logo-title">CSE Motors</h1>
      <div class="nav-wrapper">
        <ul class="nav-list">
          <% if (loggedIn && user) { %>
            <li class="nav-item"><a href="/wishlist" class="wishlist-link">My Wishlist</a></li>
            <li class="nav-item"><a href="/account" class="account-link">Welcome <%= user.first_name %></a></li>
            <li class="nav-item"><a href="/account/logout" class="logout-link">Logout</a></li>
          <% } else { %>
            <li class="nav-item"><a href="/account/login" class="login-link">My Account</a></li>
          <% } %>
        </ul>
      </div>
  </div>
  <%- include('../partials/navigation') %>
</header>
