<h1 class="inventory-title">Inventory Management</h1>



<!-- Flash messages con formato personalizado -->
<%- messages() %>



<div class="inventory-links">
    <a href="/inv/add-classification" class="inventory-link">Add New Classification</a>
    <a href="/inv/add-inventory" class="inventory-link">Add New Inventory Item</a>
</div>
