<h1><%= title %></h1>
<p><%- message %></p> <!-- EJS unescaped block for message -->
<p>Oops! Looks like something went wrong.</p>
<p>Why not head back to the <a href="/">homepage</a> and try again?</p>
<p><em>Remember: Even the best coders see errors sometimes. It's part of the journey!</em> 😅</p>
